
@{
    ViewBag.Title = "Liên hệ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="text-align: right; width: 500px;">
    <h3 style="text-align: center; font-weight: bold; color: #d9534f">LIÊN HỆ</h3><br />
    <form action="~/LienHe/KetQua" method="post">
        <span style="font-weight:bold; font-size:larger">Quý khách đang quan tâm về </span>
        <div style="display: inline-block; margin-bottom: 5px;">
            <select class="form-control" name="chude">
                <option>Chọn chủ đề</option>
                <option>Tư vấn</option>
                <option>Khiếu nại - Phản ánh</option>
                <option>Hợp tác với thế giới di động</option>
                <option>Góp ý cải tiến</option>
            </select>
        </div>
        <table style="width: 100%;">
            <tr>
                <th style="text-align:center;">
                    <label id="title">Tiêu đề *</label>
                </th>
                <td>
                    <input type="text" name="title" style="max-width: none; width: 100%; margin-bottom: 5px;" />
                </td>
            </tr>
            <tr>
                <th style="text-align:center;">
                    <label id="noidung">Nội dung *</label>
                </th>
                <td>
                    <textarea name="noidung" style="max-width: none; width: 100%; height: 150px;"></textarea>
                </td>
            </tr>
            <tr>
                <th style="text-align:center;">
                    <label id="hovaten">Họ và tên *</label>
                </th>
                <td>
                    <input name="hovaten" style="max-width: none; width: 100%; margin-bottom: 5px;" />
                </td>
            </tr>
            <tr>
                <th style="text-align:center;">
                    <label id="email">Địa chỉ Email</label>
                </th>
                <td>
                    <input name="email" style="max-width: none; width: 100%; margin-bottom: 5px;" />
                </td>
            </tr>
            <tr>
                <th style="text-align:center;">
                    <label id="sdt">Số điện thoại</label>
                </th>
                <td>
                    <input name="sdt" style="max-width: none; width: 100%; margin-bottom: 5px;" />
                </td>
            </tr>
            <tr>
                <td></td>
                <td style="text-align:right;">
                    <button type="submit" class="btn btn-danger" >OK</button>
                </td>
            </tr>
        </table>
    </form>
</div>

