
<a href="@Url.Action("GetCartInfo", "Cart")" style="text-decoration:
none; color: red; font-weight: bold">
    @*<img src="~/Images/Giohang.gif" />*@
    <img src="~/Images/computer.jpg" height="30px" width="30px"/> Giỏ hàng (@ViewBag.TotalNumber)
</a>
